<main>
  <div class="edit-container">
    <div class="edit-left-wrapper">
      <img ng-src="https://image.tmdb.org/t/p/original{{editDetails.poster_path}}"/>
    </div>

    <div class="info-div">
  <input id="tagline-box" type="text" placeholder="tagline" ng-model="tagline">
  <br>
  <br>
  <input id="author-box" type="text" placeholder="author" ng-model="author">
  <br>
  <br>
  <textarea type="text" id="box-value" placeholder="your review" ng-model="comments"/></textarea>
  <br>
  <br>
  <!-- <a ui-sref="reviews"> -->
  <div class="submit" ng-click="submitReview(tagline, author, comments, user.fb_id)" onClick="window.location.reload()">
    <p>SUBMIT</p>
  </div>
<!-- </a> -->
</div>
  </div>
</main>
