<main>
  <div class="login-container">
    <div class="background-img-login">
        <img ng-src="https://image.tmdb.org/t/p/original{{popular.backdrop_path}}"/>
    </div>
    <div class="login-wrapper">

    <div class="login-box">
      <h3>Login</h3>
      <br>
      <input id="login-input" type="text" placeholder="username"/>
      <br>
      <br>
      <input id="login-input" type="text" placeholder="password"/>
      <br>
      <br>
      <hr>
      <br>
      <div class="fb-btn"/>
      <p>Login with facebook</p>
    </div>
    <br>
    <div class="google-btn"/>
    <p>Login with Google</p>
    </div>
  </div>
</div>
</div>
</main>
