<main>
  <div class="login-container">
    <div class="background-img-login">
        <img ng-src="https://image.tmdb.org/t/p/original{{popular.backdrop_path}}"/>
    </div>
    <div class="login-wrapper">

    <div class="login-box">
      <h1 id="logo"><span class="o">FAN</span><span class="r">FLIX</span></h1>
      <br>
      <br>
      <br>
        <input id="login-input" type="text" placeholder="username"/>
      <br>
      <br>
        <input id="login-input" type="text" placeholder="password"/>
      <br>
      <br>
        <div class="login-btn"/>
      <p>Login</p>
    </div>
    <br>
    <br>
    <div class="signup-btn"/>
    <p>Sign Up</p>
  </div>
    <br>
      <hr>
      <br>
      <a href="https://www.fanflix.club/auth/facebook" ng-click="recordLogin()">
      <div class="fb-btn"/>
      <p>Login with Facebook</p>
    </div>
  </a>
    <br>
    <div class="google-btn"/>
    <p>Login with Google</p>
    </div>
  </div>
</div>
</div>
</main>
