<main>

  <div class="person-container">
    <div class="person-wrapper">
    <div class="picture">
      <br>
      <img ng-src="https://image.tmdb.org/t/p/w640{{personDetail.profile_path}}" ng-show="personDetail.profile_path"/>
      <div id="hide-people" class="first-letter" ng-show="!personDetail.profile_path">
        <h1>{{personDetail.firstLetter}}</h1>
      </div>
      <br>
      <br id="hide-people">
      <hr>
      <br id="hide-people">
      <h3 id="hide-people">Place of Birth</h3>
      <p id="hide-people"> {{personDetail.place_of_birth}}</p>
      <br id="hide-people">
      <h3 id="hide-people">Birthday</h3>
      <p id="hide-people"> {{personDetail.birthday}}</p>
      <br id="hide-people">
      <h3 ng-show="personDetail.deathday" id="hide-people">Date of Death</h3>
      <p ng-show="personDetail.deathday" id="hide-people"> {{personDetail.deathday}}</p>
      <h3 id="hide-people">Number of Credits</h3>
      <p id="hide-people">{{credNum}}</p>
    </div>

    <div class="info-right">
      <br>
      <h2> {{personDetail.name}}</h2>
      <br>
      <h3>Bio</h3>
      <p id="people-bio">{{personDetail.biography}}</p>
      <br>
      <h3>Known For</h3>
      <br>
      <div class="credit-container">
        <div id="known" class="credit-wrapper" ng-repeat="credit in knownFor | filter:titleFilter">
          <a ui-sref="details({id:'{{credit.id}}'})">
          <div class="credit-view">
            <img ng-src="https://image.tmdb.org/t/p/w640{{credit.poster_path}}" ng-show="credit.poster_path"/>
            <p ng-show="credit.poster_path">{{credit.title}}<br> ({{credit.release_date}})</p>
          </div>
        </a>
        </div>
      </div>
      <h3 ng-hide="!personImg">Images</h3>
      <br ng-hide="!personImg">
      <div class="person-img" ng-hide="!personImg">
          <div ng-repeat="img in personImg" ng-hide="!personImg">
            <a ui-sref="details({id:'{{img.media.id}}'})">
            <img src="https://image.tmdb.org/t/p/original{{img.file_path}}" alt="{{img.media.title}}"/>
            </a>
          </div>
          <div ng-repeat="img in personImg2" ng-hide="!personImg2">
            <a ui-sref="details({id:'{{img.media.id}}'})">
            <img src="https://image.tmdb.org/t/p/original{{img.file_path}}" alt="{{img.media.title}}"/>
            </a>
          </div>
          <div ng-repeat="img in personImg3" ng-hide="!personImg3">
            <a ui-sref="details({id:'{{img.media.id}}'})">
            <img src="https://image.tmdb.org/t/p/original{{img.file_path}}" alt="{{img.media.title}}"/>
            </a>
          </div>
          <div ng-repeat="img in personImg4" ng-hide="!personImg4">
            <a ui-sref="details({id:'{{img.media.id}}'})">
            <img src="https://image.tmdb.org/t/p/original{{img.file_path}}" alt="{{img.media.title}}"/>
            </a>
          </div>
      </div>
      <br>
      <h3>Credits</h3>
      <br>
      <input id="person-input" type="text" placeholder="search credits" ng-model="titleFilter.title"/>
    <br>
    <br>
    <h3>As Cast</h3>
    <hr>
    <br>
      <div class="credit-container">
        <div class="credit-wrapper" ng-repeat="credit in personCast | filter:titleFilter">
          <a ui-sref="details({id:'{{credit.id}}'})">
          <div class="credit-view">
            <img ng-src="https://image.tmdb.org/t/p/w640{{credit.poster_path}}" ng-show="credit.poster_path"/>
            <p ng-show="credit.poster_path">{{credit.title}}<br>({{credit.character}})<br> ({{credit.release_date}})</p>
          </div>
        </a>
        </div>
      </div>
      <h3>As Crew</h3>
      <hr>
      <br>
      <div class="credit-container">
        <div class="credit-wrapper" ng-repeat="film in crew | filter:titleFilter">
          <a ui-sref="details({id:'{{film.id}}'})">
          <div class="credit-view">
            <img ng-src="https://image.tmdb.org/t/p/w640{{film.poster_path}}" ng-show="film.poster_path"/>
            <p ng-show="film.poster_path">{{film.title}}<br>({{film.job}})</p>
          </div>
        </a>
        </div>
    </div>
  </div>

  </div>
</main>
