<main>
    <div class="theater-container">
        <div class="theater-header">
            <div>
        <h1>{{theaterDetails.name}}</h1>
        <br>
        <a href="https://www.google.com/maps/place/{{theaterDetails.location.address.street}} {{theaterDetails.location.address.city}} {{theaterDetails.location.address.state}} {{theaterDetails.location.address.postalCode}}" target="_blank">
        <p>{{theaterDetails.location.address.street}} <br> {{theaterDetails.location.address.city}} {{theaterDetails.location.address.state}}, {{theaterDetails.location.address.postalCode}} {{theaterDetails.location.address.country}}</p>
        </a>
        <br>
        <input type="date" id="datepicker2" placeholder="choose date..." ng-model="date"/><button ng-click="getTheater(date)">Search</button><br><br>
        <h2 style="color: #EF7622">Showings on </h2>
        {{day}}
        </div>
        <br>
        <br>
        <div id="map"></div>
        </div>
        <div class="showing-view">

            <div class="showing-card" ng-repeat="movie in theater">
                <div class="showing-poster"><img src="http://aval.tmsimg.com/{{movie.preferredImage.uri}}"></div>
                <div class="title-info">
                    <h3>{{movie.title}}</h3>
                    <p id="second-column">{{movie.ratings[0].code}}, {{movie.runTime.substring(2, 8)}}</p>
                    <div id="title-genre" ng-repeat="genre in movie.genres"><p>{{genre}}</p></div>
                    <br>
                    
                    <p>Release: {{movie.releaseDate}}</p>
                </div>
                <div class="times">
                    <p>Click on showing and get tickets on Fandango</p>
                    <br>
                    <p>{{movie.showtimes[0].quals}}</p>
                    <br>
                    <div ng-repeat="time in movie.showtimes"><a href="{{time.ticketURI}}" target="_blank"><p id="showing">{{time.dateTime | date:'hh:mma'}}</p></a></div>
                </div>

            </div>
        </div>
    </div>
</main>