<main>
    <div class="user-thumnail">
        <img src="{{userInfo.photo}}"/><br>
        <p>{{userInfo.name}}'s movie list</p>
    </div>
    <h2 id="watchlist">Watchlist</h2>
    <hr>
    <br>
    <section>
        <div class="user-list-wrapper" ng-repeat="film in watchlist">
            <watchlist-card film="film"></watchlist-card>
        </div>
    </section>
    <h2>Watched</h2>
    <hr>
    <br>
    <section>
        <div class="user-list-wrapper" ng-repeat="film in watched">
            <watched-card film="film"></watched-card>
        </div>
    </section>
    <h2 id="favorites">My Favorites</h2>
    <hr>
    <br>
    <section>
        <div class="user-list-wrapper" ng-repeat="film in favorites">
            <favorites-card film="film"></favorites-card>
        </div>
    </section>
</main>