<main>

<div class="billboard-wrapper">
  <div class="billboard">
    <div class="left-info-wrapper">
    <div class="left-info">
      <div class="box">

      </div>
    <h2>{{popular.original_title}}</h2>
    <br>
    <div class="second-row">
    <p id="in-theatres">In Theatres <span id="date">{{imdb_detail.Released}}</span></p>
    <p id="rating">{{imdb_detail.Rated}}</p>
    <p id="runtime">{{imdb_detail.Runtime}}</p>
  </div>

    <br>
    <p id="plot">{{imdb_detail.Plot}}</p>
    <br>
    <p id="starring">Starring: <span id='actors'>{{imdb_detail.Actors}}</span></p>
    <p id="genres">Genres: {{imdb_detail.Genre}}</p>
    <div class="btn-row">
    <div id="trailer-btn">
      <p>Trailer</p>
    </div>
    <div id="details-btn">
      <p>Details</p>
    </div>
  </div>
  <div class="my-list">
  </div>
  </div>
</div>
  <div class="background-img">
    <img ng-src="https://image.tmdb.org/t/p/original{{popular.backdrop_path}}"/>
  </div>

</div>
</div>
<br>
<div class="now-playing-container">
  <h3>NOW PLAYING</h3>
  <br>
  <div class="right-ctrl">
    <img id="arrow" src="./icons/Arrow-Left-icon.png"/>
  </div>
  <div class="left-ctrl">
    <img id="arrow" src="./icons/Arrow-Left-icon.png"/>
  </div>
  <ul>
  <div class="poster-view" ng-repeat="films in nowPlaying">
      <li>
    <div class="poster">
      <img ng-src="https://image.tmdb.org/t/p/original{{films.poster_path}}">
      <img id="arrow" src="./icons/Arrow-Left-icon.png"/>
      <div class="release">
        <div class="title-wrapper">
        <p id="title">{{films.original_title}}</p>
      </div>
        <p>{{films.release_date}}</p>
        <br>
        <p id="sum">{{films.overview}}</p>
    </div>
    <div id="sum-box">
    </div>
    </div>
  </li>
  </div>
</ul>
  <div class="overview-wrapper" ng-app="overviewApp">
  <div class="overview">
    <div ui-view>
    </div>
  </div>
</div>

</main>
