.credits-container{
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
}
.crew-container .cast-view-wrapper-cred{
  border: 1px solid orange;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  margin-left: 10px;
  transition: background-color 2s;
}
.crew-container .cast-view-wrapper-cred:hover{
  background-color: red;
}
.crew-container .cast-view-cred{
  display: flex;
  align-items: center;
}
.credits-wrapper{
  display: flex;
  flex-direction: row;
}
.credits h1{
  font-size: 40px;
}
.credit-img{
  /*border: 1px solid pink;*/
  float: left;
}
.credits-wrapper-cred img{

  width: 330px;
  height: 495px;
}
.credits-view{
  margin-left: 20px;
  /*border: 1px solid green;*/
  float: right;
  width: 73vw;
}
.cast-view-cred img{
  border: 2px solid #EF7622;
  border-radius: 100px;
  width: 105px;
  height: 150px;
  margin-bottom: 30px;
  position: relative;
  left: 15px;
}
.cast-view-cred{
    padding: 8px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
}
.cast-view-cred p{
  width: 205px;
  font-size: 12px;

  margin: auto;
}
.cast-view-wrapper-cred{
  width: 200px;
  position: relative;
  top: 0px;
  /*border: 1px solid pink;*/
  text-align: center;
  display: inline-block;
}
.img-text{
  border: 1px solid blue;
}
#actor-name{
  text-transform: uppercase;
  font-weight: bolder;
}
.show-box{
  position: relative;
  top:-30px;
  left: 8px;
}
.initial-box{
  /*border: 1px solid red;*/
  position: absolute;
  top:-55px;
  left: 35px;
}
.firstletter{
  border: 2px solid #EF7622;
  border-radius: 100px;
  position: absolute;
  top: -214px;
  left: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 105px;
}
