.credits-container{
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
}
.crew-container .cast-view-wrapper-cred{
  border: 1px solid orange;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  margin-left: 10px;
  transition: background-color 2s;
}
.crew-container .cast-view-wrapper-cred:hover{
  background-color: red;
}
.crew-container .cast-view-cred{
  display: flex;
  align-items: center;
}
.credits-wrapper{
  display: flex;
  flex-direction: row;
}
.credits h1{
  font-size: 50px;
}
.credit-img{
  /*border: 1px solid pink;*/
  float: left;
}
.credits-wrapper-cred img{

  width: 330px;
  height: 495px;
}
.credits-view{
  margin-left: 20px;
  /*border: 1px solid green;*/
  float: right;
  width: 73vw;
}
.cast-view-cred img{
  border: 2px solid #EF7622;
  border-radius: 100px;
  width: 125px;
  height: 185px;
  margin-bottom: 20px;
  position: relative;
  left: 15px;
}
.cast-view-cred{
    padding: 8px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
}
.cast-view-wrapper-cred p{
  width: 205px;
  font-size: 12px;
  margin: auto;
}
.cast-view-wrapper-cred{
  width: 189px;
  position: relative;
  top: 0px;
  /*border: 1px solid pink;*/
  text-align: center;
  display: inline-block;
}
.img-text{
  border: 1px solid blue;
}
#actor-name{
  text-transform: uppercase;
  font-weight: bolder;
}
.show-box{
  position: relative;
  top:-25px;
  left: 8px;
}
.initial-box{
  /*border: 1px solid red;*/
  position: relative;
  top:-25px;
  left: 12px;
  margin-bottom: 10px;
}
.firstletter{
  border: 2px solid #EF7622;
  border-radius: 100px;
  position: relative;
  top: -33px;
  left: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 185px;
}
@media (max-width: 1625px){
  .credits-view{
    width: 70vw;
  }
}
@media(max-width: 1427px){
  .credits-view{
    width: 65vw;
  }
}
@media(max-width: 1300px){
  
}
@media (max-width: 1190px){
  .credits-view{
    width: 50vw;
  }
}
@media (max-width: 795px){
  .credits-view{
    float: none;
    width: 60vw;
  }
}
