*{
  color:white;
}
main{
  position: relative;
}
iframe{
  width: 1200px;
  height: 675px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 46px;
  height: 46px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 79px solid #373737;
  border-radius: 24px;
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #464448;
  border: 57px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.detail-container{
  /*border: 1px solid blue;*/
  position: relative;
  top: -105px;
  width: 95vw;
  z-index: 5;
  display: flex;
  justify-content: center;
}
.first-row{
  display: flex;
  flex-direction: row;
}
.shadow{
   box-shadow: inset 0 -120px 50em black;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   content: "";
}
.backdrop-wrapper{
  position: absolute;
  /*border: 1px solid red;*/
  height: 589px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.backdrop-wrapper img{
  position: absolute;
  width: 1500px;
  opacity: 1;
  overflow: hidden;
}

.details_poster img{
  height: 500px;
  box-shadow: 10px 20px 50px black;
}
#tagline-detail{
  color: white;
  margin-bottom: 30px;
}
.info-section{
  margin-left: 20px;
  height: auto;
  width: 820px;
  /*border: 1px solid red;*/
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.info-section h3{
  color: #EF7622;
}
.info-section h2{
  font-size: 40px;
  width: 770px;
}
.info-section span{
  font-size: 20px;
  color: gray;
}
.overview{
  display: flex;
  flex-direction: row;
}
#o-left{
  width: 800px;
}
#o-right{
  margin-left: 30px;
  width: 400px;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.btn{
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 200px;
  transition: transform 1s;
}
#fav{
  background-color: rgba(255, 0, 0, .5);
}
#list{
  background-color: rgba(239, 118, 34, .5);
  margin-left: 20px;
}
#watched{
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
#watched:hover{
  background-color: red;
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 1);
}
#fav:hover{
  background-color: red;
  transform: scale(1.2);
}
#list:hover{
  background-color: rgba(239, 118, 34, 1);
    transform: scale(1.2);
}
.btn:active{
  position: relative;
  top: 3px;
  left: 2px;
}
.second-row-wrapper{
  /*border: 1px solid green;*/
  text-align: center;
  display: flex;
  overflow: scroll;
  overflow-x:auto;
  overflow-y: hidden;
  width: 1200px;
}
.second-row-detail{
  text-align: center;
  display: inline-block;
  font-size: 12px;
}
.cast-view{
  /*border: 1px solid green;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cast-view p{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
  }
#character-name{
  text-transform: inherit;
  font-weight: inherit;
}
.cast-view img{
  position: relative;
  left: -15px;
  margin-left: 30px;
  border-radius: 500px;
  height: 200px;
  width: 137px;
  border: 2px solid #EF7622;
}
.full-cast-btn-container{
  /*border: 1px solid green;*/
  margin-top: 30px;
  width: 1200px;
  display: flex;
  justify-content: center;

}
.full-cast-btn{
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;
}
.full-cast-btn:hover{
  background-color: red;
}
.full-cast-btn p{
  text-align: center;
  color: black;
  font-weight: bolder;
}

.videos-container{
  display: flex;
  width: 1200px;
  /*border: 1px solid red;*/
  overflow: scroll;
  overflow-y: hidden;
}
.videos{
  display: inline-block;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: 100%;
  scroll-snap-destination: 50% 50%;
}
.backdrops-container{
  width: 1200px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
}
.backdrops img{
  width: 600px;
}
.similar-container{
  width: 1200px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;

}
.similar{
  text-align: center;
}
.similar h4{
  text-transform: uppercase;
}
.similar img{
  width: 400px;
}
.platforms-container{
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.platforms img{
  width: 130px;
  height: 48px;
}
.user-review-container{
/*  border: 1px solid green;*/
  width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
  /*position: relative;*/
}
.review-bg-container{
  /*border: 1px solid blue;*/
  height: 500px;
  width: 1200px;
  overflow: hidden;
  align-items: center;
  position: absolute;
  z-index: -1;
}
.user-review-wrapper{
  width: 1200px;
  /*position: relative;*/
  display: inline-block;
  display: flex;
  justify-content: center;
  /*border: 1px solid green;*/
}
.review-bg-container img{
  width: 1200px;
  opacity: .1;
  position: absolute;
  filter: grayscale(100%);
}
.box-user{
/*border: 1px solid pink;*/
  width: 1200px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
#profile-pic{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  border: 1px solid #EF7622;
  opacity: 1;
}
.user-review-view{
  border: 1px solid #EF7622;
  height: auto;
  margin: 10px;
  width: 700px;
  position: relative;
  padding: 50px;
  /*display: flex;
  flex-direction: row;*/
}
.review-info-right{
  margin-left: 60px;
}
.review-info-right h3{
  font-weight: bold;
}
.review-info-right p{
  font-size: 15px;
}
.no-review{
  position: relative;
  top: 50%;
  left: 40%;
}
.first-details-row{
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
.iconz-indicators{
  border: 1px solid white;
  border-radius: 100px;
  height: 24px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconz-indicators img{
  height: 20px;
  filter: invert(100%);
}
.modal{
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
}
#title-span{
  text-transform: uppercase;
  font-weight: bolder;
}
#fav-span{
  color: red;
}
#watched-span{
  color: white;
}
#watchlist-span{
  color: orange;
}
#favorites-modal{
  display: block;
}
#fav-modal-content{
    border: 2px solid red;
}
#watched-modal{
  display: none;
}
#watched-modal-content{
  border: 2px solid white;
}
#watchlist-modal{
  display: none;
}
#watchlist-modal-content{
  border: 2px solid orange;
}
.modal-content {
    background-color: none;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 80px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.modal-content p{
  color: white;
  font-size: 20px;
}
.close {
    color: #aaa;
    position: absolute;
    top:0px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    display: none;
}
.close:hover,
.close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}
.metacritic{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.metacritic p{
  padding: 5px;
}
.showtimes-container{
  height: auto;
}
.showtimes-bg{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
  /*border: 1px solid green;*/
  width: 100%;
  height: 100%;
  background-color: black;
}
.showtimes-view{
  height: auto;
}
.showtime-input{
  position: relative;
  top: -22px;
  left: 0px;
  margin-top: 50px;
  margin-right: 20px;
}
.showtime-input img{
  position: relative;
  top: 5px;
    left: -295px;
  width: 23px;
  height: 23px;
  filter: invert(100%);
  cursor: pointer;
}
.showings{
  background-color: #EF7622;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}
.showings h4{
  padding: 10px;
}
.showings p{
  padding: 10px;
}
.showtimes-btn{
  background-color: #EF7622;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
    width: 330px;
    border-radius: 20px
}
.showtimes-btn p{
  padding: 10px;
}
.showtimes-wrapper{
  position: relative;
  top: -45px;
  left: 11px;
}
#close-showtime{
  position: fixed;
  top:80px;
  right: 20px;
  font-size: 30px;
  z-index: 9;
  cursor: pointer;
}
#datepicker{
  margin-left: 10px;
  font-size: 16px;
  position: relative;
  top: -2px;
}

#theater-view{
  overflow: scroll;
}
.theaters{
  position: relative;
  margin-bottom: 25px;
  margin-top: 15px;
  width: 10%;
}
#theater{
  display: block !important;
  overflow: none;
  margin-right: 10px;
}
@media (max-width: 1300px){
  .details_poster img{
  height: 400px;
  } 
  .showtimes-btn{
    width: 266px
  }
  .info-section{
  margin-left: 12px;
  }
  .detail-container{
    left: 90px;
  }
  .videos-container{
    width: 1000px;
  }
  iframe{
  width: 1000px;
  height: 562.50px;
  }
  .backdrops-container{
    width: 1000px;
  }
  .backdrops img{
    width: 500px;
  }
  .review-bg-container{
    width: 1000px;
  }
  .similar-container{
    width: 1000px;
  }
  .similar img{
    width: 333.33px;
  }
  .cast-view img{
    height: 165px;
    width: 110px;
  }
  .full-cast-btn-container{
    width: 1000px;
  }
  .platforms-container{
    width: 260px;
  }
  .platforms img{
    width: 121px;
    height: 45px;
  }
  .cast-view p{
    font-size: 10px;
  }
}
/*ipad pro*/
@media (max-width: 1025px){
  .backdrop-wrapper{
    background-position: center;
  }
  .detail-container{
    left: 128px;
  }
  .details_poster img{
  height: 350px;
  } 
  .container-fluid{
    padding-left: 0px;
  }
  .showtimes-btn{
    width: 232px;
  }
  .platforms-container{
    width: 240px;
  }
  .platforms img{
    width: 110px;
    height: 41px;
  }
  .info-section{
    width: 640px;
  }
  .info-section h2{
    font-size: 30px;
    width: 660px;
  }
  .first-row{
    width: 1000px;
    margin-left: 75px;
  }
  .user-review-container{
    width: 1000px;
  }
  .box-user{
    width: 1000px;
  }
  .user-review-wrapper{
    width: 1000px;
  }
  /*search conent*/
  .search-content img{
    width: 200px;
    height: 300px;
  }
  .search-content p{
    width: 200px;
  }
}
/*ipad view*/
@media (max-width: 769px){
  .backdrop-wrapper{
    background-position: center;
  }
  .detail-container{
    left: 33px;
  }
  .container-fluid{
    padding-left: 0px;
  }
  .details_poster img{
  height: 350px;
  } 
  .first-row{
    width: 758px;
    margin-left: 25px;
  }
  .info-section h2{
    font-size: 28px;
  }
  .info-section span{
    font-size: 15px;
  }
  .showtimes-btn{
    width: 232px;
  }
  .info-section{
  margin-left: 25px;
  }
  .overview{
    width: 435px;
  }
  #o-left{
    width: auto;
  }
  .videos-container{
    width: 758px;
  }
  iframe{
    width: 758px;
    height: 426.38px;
    margin-bottom: 40px;
  }
  .backdrops-container{
    width: 758px;
  }
  .backdrops img{
    width: 379px;
  }
  .user-review-container{
    width: 759px;
  }
  .review-bg-container{
    width: 758px;
  }
  .review-bg-container img{
    width: 758px;
  }
  .box-user{
    width: 758px;
  }
  .user-review-wrapper{
    width: 758px;
  }
  .similar-container{
    width: 758px;
  }
  .similar img{
    width: 253px;
  }
  .similar{
    margin-bottom: 40px;
  }
  .similar h4{
    font-size: 11px;
  }
  .second-row-wrapper{
    overflow-x: scroll;
    width: 759px;
  }
  .cast-view{
    margin-bottom: 20px;
  }
  .cast-view img{
    height: 165px;
    width: 110px;
  }
  .full-cast-btn-container{
    width: 758px;
  }
  .platforms-container{
    width: 240px;
  }
  .platforms img{
    width: 110px;
    height: 41px;
  }
  .cast-view p{
    font-size: 10px;
  }
}
@media (max-width: 415px){
  #mobile-search{
    filter: invert(100%);
    width: 25px;
    position: absolute;
    left: 10px;
    top: 13px;
    display: block;
  }
  .backdrop-wrapper{
    background-position: center;
  }
  .detail-container{
    left: 5px;
    width: 405px;
  }
  .details_poster{
    width: 367px;
    text-align: center;
  }
  .details_poster img{
    max-height: 300px;
  }
  .backdrop-wrapper{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 420px;
    height: 414px;
    margin: auto;
  }
  #tagline-detail{
    font-size: 12px;
  }
  .showtimes-btn{
    width: 200px;
    margin: auto;
  }
  .first-row{
    flex-direction: column;
    width: 405px;
    margin-left: 0px;
  }
  .info-section{
    margin-left: 8px;
  }
  .info-section h2{
    font-size: 30px;
    width: 400px;
  }
  .info-section span{
    font-size: 12px;
  }
  .left-info-wrapper{
    margin-top: 10px;
  }
  .similar h4{
    font-size: 10px;
  }
  .btn{
    width: 73px;
  }
  .overview{
    flex-direction: column;
  }
  .overview p{
    font: 12px;
  }
  #o-left{
    width: 330px;
  }
  #o-right{
    margin-left: 0px;
    width: 395px;
  }
  .second-row-wrapper{
    overflow-x: scroll;
    width: 405px;
  }
  .detail-wrapper{
    margin-left: 0px;
  }
  .second-row-detail{
    margin-bottom: 10px;
  }
  .detail-wrapper #section{
    width: 405px;
    text-align: center;
  }
  .full-cast-btn-container{
    width: 405px;
  }
  .videos-container{
    width: 405px;
  }
  iframe{
    width: 405px;
    height: 227.81px;
    margin-bottom: 40px;
  }
  .backdrops-container{
    width: 375px;
  }
  .backdrops img{
    width: 405px;
  }
  .user-review-container{
    width: 405px;
    height: 200px;
  }
  .similar-container{
    width: 405px;
  }
  .similar img{
    width: 405px;
  }
  .similar{
    margin-bottom: 40px;
  }
  #no-mobile{
    display: none;
  }
  .review-bg-container{
    width: 405px;
  }
  .user-review-wrapper{
    width: 405px;
  }
  .platforms-container{
    margin: auto;
    padding-bottom: 15px;
    width: 208px;
  }
  .platforms img{
    width: 100px;
    height: 38px;
  }
  .review-review-container{
    height: 200px;
  }
  .review-bg-container img{
    width: 405px;
  }
  .box-user{
    width: 405px;
    height: 200px;
  }
  .user-review-view{
    padding: 10px;
    margin: 5px;
    width: 322px;
  }
  .review-info-right{
    margin-left: 50px;
  }
  .review-info-right h3{
    font-size: 15px;
  }
  .review-info-right p{
    font-size: 12px;
  }
  #rating-input{
    width: 13px;
  }
  #profile-pic{
    width: 40px;
    height: 40px;
  }
  .no-review{
    left: 20%;
  }
  .shadow{
    display: none;
  }
}
@media (max-width: 413px){
  #mobile-search{
    filter: invert(100%);
    width: 25px;
    position: absolute;
    left: 10px;
    top: 13px;
    display: block;
  }
  .backdrop-wrapper{
    background-position: center;
  }
  .detail-container{
    left: 5px;
    width: 405px;
  }
  .details_poster{
    width: 367px;
    text-align: center;
  }
  .details_poster img{
    max-height: 300px;
  }
  .backdrop-wrapper{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 420px;
    height: 414px;
    margin: auto;
  }
  #tagline-detail{
    font-size: 12px;
  }
  .showtimes-btn{
    width: 200px;
    margin: auto;
  }
  .first-row{
    flex-direction: column;
    width: 405px;
    margin-left: 0px;
  }
  .info-section{
    margin-left: 8px;
  }
  .info-section h2{
    font-size: 30px;
    width: 400px;
  }
  .info-section span{
    font-size: 12px;
  }
  .left-info-wrapper{
    margin-top: 10px;
  }
  .similar h4{
    font-size: 10px;
  }
  .btn{
    width: 73px;
  }
  .overview{
    flex-direction: column;
  }
  .overview p{
    font: 12px;
  }
  #o-left{
    width: 330px;
  }
  #o-right{
    margin-left: 0px;
    width: 100%;
  }
  .second-row-wrapper{
    overflow-x: scroll;
    width: 405px;
  }
  .detail-wrapper{
    margin-left: 0px;
  }
  .second-row-detail{
    margin-bottom: 10px;
  }
  .detail-wrapper #section{
    width: 405px;
    text-align: center;
  }
  .full-cast-btn-container{
    width: 405px;
  }
  .videos-container{
    width: 405px;
  }
  iframe{
    width: 405px;
    height: 227.81px;
    margin-bottom: 40px;
  }
  .backdrops-container{
    width: 405px;
  }
  .backdrops img{
    width: 405px;
  }
  .user-review-container{
    width: 405px;
    height: 200px;
  }
  .similar-container{
    width: 405px;
  }
  .similar img{
    width: 405px;
  }
  .similar{
    margin-bottom: 40px;
  }
  #no-mobile{
    display: none;
  }
  .review-bg-container{
    width: 405px;
  }
  .user-review-wrapper{
    width: 405px;
  }
  .platforms-container{
    margin: auto;
    padding-bottom: 15px;
    width: 208px;
  }
  .platforms img{
    width: 100px;
    height: 38px;
  }
  .review-review-container{
    height: 200px;
  }
  .review-bg-container img{
    width: 405px;
  }
  .box-user{
    width: 405px;
    height: 200px;
  }
  .user-review-view{
    padding: 10px;
    margin: 5px;
    width: 322px;
  }
  .review-info-right{
    margin-left: 50px;
  }
  .review-info-right h3{
    font-size: 15px;
  }
  .review-info-right p{
    font-size: 12px;
  }
  #rating-input{
    width: 13px;
  }
  #profile-pic{
    width: 40px;
    height: 40px;
  }
  .no-review{
    left: 20%;
  }
  .shadow{
    display: none;
  }
}
/*phone*/
@media (max-width:376px){
  #mobile-search{
    filter: invert(100%);
    width: 25px;
    position: absolute;
    left: 10px;
    top: 13px;
    display: block;
  }
  .backdrop-wrapper{
    background-position: center;
  }
  .detail-container{
    left: 5px;
    width: 365px;
  }
  .details_poster{
    width: 367px;
    text-align: center;
  }
  .details_poster img{
    max-height: 300px;
  }
  .detail-wrapper{
    margin-left: 2px;
  }
  .backdrop-wrapper{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 414px;
    margin: auto;
  }
  #tagline-detail{
    font-size: 12px;
  }
  .showtimes-btn{
    width: 200px;
    margin: auto;
  }
  .first-row{
    flex-direction: column;
    width: 365px;
  }
  .info-section{
    margin-left: 8px;
  }
  .info-section h2{
    font-size: 30px;
    width: 365px;
  }
  .info-section span{
    font-size: 12px;
  }
  .left-info-wrapper{
    margin-top: 10px;
  }
  .similar h4{
    font-size: 10px;
  }
  .btn{
    width: 73px;
  }
  .overview{
    flex-direction: column;
  }
  .overview p{
    font: 12px;
  }
  #o-left{
    width: 330px;
  }
  #o-right{
    margin-left: 0px;
    width: 330px;
  }
  .second-row-wrapper{
    overflow-x: scroll;
    width: 365px;
  }
  .second-row-detail{
    margin-bottom: 10px;
  }
  .detail-wrapper #section{
    width: 365px;
    text-align: center;
  }
  .full-cast-btn-container{
    width: 365px;
  }
  .videos-container{
    width: 365px;
  }
  iframe{
    width: 365px;
    height: 205.31px;
    margin-bottom: 40px;
  }
  .backdrops-container{
    width: 365px;
  }
  .backdrops img{
    width: 365px;
  }
  .user-review-container{
    width: 365px;
    height: 200px;
  }
  .similar-container{
    width: 365px;
  }
  .similar{
    margin-bottom: 40px;
  }
  .similar img{
    width: 365px;
  }
  #no-mobile{
    display: none;
  }
  .review-bg-container{
    width: 365px;
  }
  .user-review-wrapper{
    width: 365px;
  }
  .platforms-container{
    margin: auto;
    padding-bottom: 15px;
    width: 208px;
  }
  .platforms img{
    width: 100px;
    height: 38px;
  }
  .review-review-container{
    height: 200px;
  }
  .review-bg-container img{
    width: 365px;
  }
  .box-user{
    width: 365px;
    height: 200px;
  }
  .user-review-view{
    padding: 10px;
    margin: 5px;
    width: 322px;
  }
  .review-info-right{
    margin-left: 50px;
  }
  .review-info-right h3{
    font-size: 15px;
  }
  .review-info-right p{
    font-size: 12px;
  }
  #rating-input{
    width: 13px;
  }
  #profile-pic{
    width: 40px;
    height: 40px;
  }
  .shadow{
    display: none;
  }
}
@media (max-width:321px){
  #mobile-search{
    filter: invert(100%);
    width: 25px;
    position: absolute;
    left: 10px;
    top: 13px;
    display: block;
  }
  .backdrop-wrapper{
    background-position: center;
  }
  .detail-container{
    left: 10px;
    width: 310px;
  }
  .details_poster{
    width: 315px;
    text-align: center;
  }
  .details_poster img{
    max-height: 300px;
  }
  .detail-wrapper{
    margin-left: 56px;
  }
  .backdrop-wrapper{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 414px;
    margin: auto;
  }
  #tagline-detail{
    font-size: 12px;
  }
  .showtimes-btn{
    width: 200px;
    margin: auto;
  }
  .first-row{
    flex-direction: column;
    width: 310px;
  }
  .info-section{
    margin-left: 8px;
  }
  .info-section h2{
    font-size: 30px;
    width: 310px;
  }
  .info-section span{
    font-size: 12px;
  }
  .left-info-wrapper{
    margin-top: 10px;
  }
  .similar h4{
    font-size: 10px;
  }
  .btn{
    width: 73px;
  }
  .overview{
    flex-direction: column;
  }
  .overview p{
    font: 12px;
  }
  #o-left{
    width: 310px;
  }
  #o-right{
    margin-left: 0px;
    width: 310px;
  }
  .second-row-wrapper{
    overflow-x: scroll;
    width: 310px;
  }
  .second-row-detail{
    margin-bottom: 10px;
  }
  .detail-wrapper #section{
    width: 310px;
    text-align: center;
  }
  .full-cast-btn-container{
    width: 310px;
  }
  .videos-container{
    width: 310px;
  }
  iframe{
    width: 310px;
    height: 174.38px;
    margin-bottom: 40px;
  }
  .backdrops-container{
    width: 375px;
  }
  .backdrops img{
    width: 310px;
  }
  .user-review-container{
    width: 310px;
    height: 200px;
  }
  .similar-container{
    width: 310px;
  }
  .similar{
    margin-bottom: 40px;
  }
  .similar img{
    width: 310px;
  }
  #no-mobile{
    display: none;
  }
  .review-bg-container{
    width: 300px;
  }
  .user-review-wrapper{
    width: 300px;
  }
  .platforms-container{
    margin: auto;
    padding-bottom: 15px;
    width: 208px;
  }
  .platforms img{
    width: 100px;
    height: 38px;
  }
  .review-review-container{
    height: 200px;
  }
  .review-bg-container img{
    width: 310px;
  }
  .box-user{
    width: 300px;
    height: 200px;
  }
  .user-review-view{
    padding: 10px;
    margin: 5px;
    width: 310px;
  }
  .review-info-right{
    margin-left: 50px;
  }
  .review-info-right h3{
    font-size: 15px;
  }
  .review-info-right p{
    font-size: 12px;
  }
  #rating-input{
    width: 13px;
  }
  #profile-pic{
    width: 40px;
    height: 40px;
  }
  .shadow{
    display: none;
  }
}