.login-container{
  /*border: 2px solid orange;*/
  width: 88vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-wrapper{
  border: 2px solid #EF7622;
  width: 300px;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.login-box{
  margin-top: 80px;
}
.login-btn{
  border: 2px solid white;
  cursor: pointer;
}
.signup-btn{
  border: 2px solid white;
  cursor: pointer;
}
.fb-btn{
  border: 2px solid white;
  background-color: blue;
  cursor: pointer;
}
.google-btn{
  border: 2px solid white;
  background-color: #DB4437;
  cursor: pointer;
  display: none;
}
.background-img-login{
  position: absolute;
  left: 2px;
  width: 94vw;
  height: 94vh;
  opacity: .4;
}
.background-img-login img{
  position: absolute;
  width: 1920px;
  height: 1080px;
  opacity: .4;
  filter: grayscale(100%);
}
