@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

#watchlist{
  color: #EF7622;
}

#favorites{
  color: red;
}
.fav-container{
  margin-top: 10px;
}
.fav-wrapper{
  display: inline;
}
.fav-view img{
  width: 200px;
  height: 300px;
}
.fav-view p{
  position: absolute;
  width: 200px;
  padding-bottom: 25px;
}
.fav-view{
  display: inline-block;
  text-align: center;
  width: 200px;
  margin-bottom: 60px;
}
.watch-container{
  margin-top: 10px;
  margin-bottom: 60px;
}
.watch-wrapper{
  display: inline;
}
.watch-view img{
  width: 200px;
  height: 300px;
}
.watch-view p{
  position: absolute;
  width: 200px;
}
.watch-view{
  display: inline-block;
  text-align: center;
  width: 200px;
  margin-bottom: 60px;
}
.watch-box{
  /*border: 1px solid green;*/
  position: absolute;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.black-bg{
  position: absolute;
  background-color: black;
  width: 200px;
  height: 300px;
  opacity: 0;
  transition: .7s;
}
.img-box{
/*border: 1px solid blue;*/
  position: absolute;
  top:40px;
  left: 40px;
  width: 120px;
  height: 100px;
  align-items: center;
}
#watchlist-box #heart{
  top: 2px;
  left: 2px;
}
#watchlist-box #heart:active{
  top:5px;
  left: 5px;
}
.img-box img{
  display: inline-block;
}
.img-box-fav{
  position: relative;
  top: -100px;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
}
.img-box-watched{
  /*border: 1px solid green;*/
  width: 150px;
  position: absolute;
  top:40px;
  left: 25px;
}
.img-box-watched #i{
  position: relative;
  top: 9px;
  right: 4px;
}
.watch-box #x{
  position: relative;
  top: 5px;
  filter: invert(100%);
  height: 45px;
  width: 45px;
  opacity: 0;
  cursor: pointer;
  transition: opacity .7s;
}
.watch-box #heart{
  position: relative;
  top:5px;
  left: 2px;
  border: 5px solid white;
  border-radius: 100px;
  align-items: center;
  padding: 3px;
  height: 30px;
  width: 30px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 1s;
}
.watch-box #eye{
  position: relative;
  filter: invert(100%);
  top:5px;
  border: 5px solid black;
  border-radius: 100px;
  align-items: center;
  padding: 3px;
  height: 30px;
  width: 30px;
  opacity: 0;
  transition: opacity 1s;
  cursor: pointer;
}

#review{
  position: relative;
  top: 5px;
  filter: invert(100%);
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-left: 5px;
  border: 3px solid black;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .7s;
}
#i{
  filter: invert(100%);
  position: relative;
  top: 6px;
  height: 45px;
  width: 45px;
  padding: 5px;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .7s;
}
#i-fav{
  filter: invert(100%);
  position: relative;
  height: 45px;
  width: 45px;
  padding: 5px;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .7s;
}
#i:active{
  position: relative;
  top: 10px;
  left: 2px;
}
#i-fav:active{
  position: relative;
  top:10px;
  left: 2px;
}
#x:active{
  position: relative;
  top:10px;
  left: 2px;
}
#review:active{
  position: relative;
  top:8px;
  left: 2px;
}
#heart:active{
  position: relative;
  top:10px;
  left: 2px;
}
#eye:active{
  position: relative;
  top:10px;
  left: 2px;
}
.watch-view:hover .black-bg{
  opacity: .5;
}
.watch-view:hover #x{
  opacity: 1;
}
.watch-view:hover #heart{
  opacity: 1;
}
.watch-view:hover #eye{
  opacity: 1;
}
.watch-view:hover #i{
  opacity: 1;
}
.watch-view:hover #review{
  opacity: 1;
}

#heart:hover{
  transform: scale(1.15);
}
#eye:hover{
  transform: scale(1.15);
}
#x:hover{
  transform: scale(1.15);
}
#review:hover{
  transform: scale(1.15);
}
#i:hover{
  transform: scale(1.15);
}
#i-fav:hover{
  transform: scale(1.15);
}
.fav-view:hover .black-bg{
  opacity: .5;
}
.fav-view:hover #x{
  opacity: 1;
}
.fav-view:hover #review{
  opacity: 1;
}
.fav-view:hover #i{
  opacity: 1;
}
.fav-view:hover #i-fav{
  opacity: 1;
}
.fav-view:hover .rating-wrapper{
  opacity: 1;
}
/*rating*/
.rating-wrapper{
  /*border: 1px solid red;*/
  position: relative;
  top: 110px;
  display: flex;
  justify-content: center;
  opacity: 0;
  display: none;
}
@media (max-width: 376px){
  .watch-container{
    text-align: center;
  }
  .watch-view img{
    width: 100px;
    height: 150px;
  }
  .watch-view{
    width: 100px;
    margin-bottom: 30px;
  }
  .watch-view p{
    width: 100px;
    font-size: 11px;
  }
  .fav-view img{
    width: 100px;
    height: 150px;
  }
  .fav-view p{
    width: 100px;
    font-size: 11px;
  }
  .fav-view{
    width: 100px;
    margin-bottom: 30px;
  }
  .fav-container{
    text-align: center;
  }
}