@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.fav-container{
  margin-top: 10px;
}
.fav-wrapper{
  display: inline;
}
.fav-view img{
  width: 200px;
}
.fav-view p{
  position: absolute;
  width: 200px;
}
.fav-view{
  display: inline-block;
  text-align: center;
  width: 200px;
}

.watch-container{
  margin-top: 10px;
  margin-bottom: 40px;
}
.watch-wrapper{
  display: inline;
}
.watch-view img{
  width: 200px;
}
.watch-view p{
  position: absolute;
  width: 200px;
}
.watch-view{
  display: inline-block;
  text-align: center;
  width: 200px;
}
.watch-box{
  /*border: 1px solid green;*/
  position: absolute;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.black-bg{
  position: absolute;
  background-color: black;
  width: 200px;
  height: 300px;
  opacity: 0;
}
.img-box{
  /*border: 1px solid blue;*/
  position: absolute;
  top:0px;
  left: 0px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-box-fav{
  position: relative;
  top: -130px;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
}
.watch-box #x{
  position: relative;
  top: 5px;
  filter: invert(100%);
  height: 45px;
  width: 45px;
  opacity: 0;
}
.watch-box #heart{
  position: relative;
  top:5px;
  border: 5px solid white;
  border-radius: 100px;
  align-items: center;
  padding: 3px;
  height: 30px;
  width: 30px;
  opacity: 0;
}

#review{
  position: relative;
  top: 5px;
  filter: invert(100%);
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 100px;
  opacity: 0;
}
#i{
  filter: invert(100%);
  position: relative;
  top: 6px;
  height: 45px;
  width: 45px;
  padding: 5px;
  border-radius: 100px;
  opacity: 0;
}
#i-fav{
  filter: invert(100%);
  position: relative;
  height: 45px;
  width: 45px;
  padding: 5px;
  border-radius: 100px;
  opacity: 0;
}
.watch-view:hover .black-bg{
  opacity: .5;
}
.watch-view:hover #x{
  opacity: 1;
}
.watch-view:hover #heart{
  opacity: 1;
}
.watch-view:hover #i{
  opacity: 1;
}

#heart:hover{
  transform: scale(1.15);
}
#x:hover{
  transform: scale(1.15);
}
#review:hover{
  transform: scale(1.15);
}
#i:hover{
  transform: scale(1.15);
}
#i-fav:hover{
  transform: scale(1.15);
}
.fav-view:hover .black-bg{
  opacity: .5;
}
.fav-view:hover #x{
  opacity: 1;
}
.fav-view:hover #review{
  opacity: 1;
}
.fav-view:hover #i{
  opacity: 1;
}
.fav-view:hover #i-fav{
  opacity: 1;
}
.fav-view:hover .rating-wrapper{
  opacity: 1;
}
/*rating*/
.rating-wrapper{
  /*border: 1px solid red;*/
  position: relative;
  top: 110px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
