
.person-container{
  /*border: 1px solid green;*/
  display: flex;
  justify-content: center;
    background-color: #141414;
    position: relative;
}
.person-wrapper{
  /*border: 1px solid orange;*/
  display: flex;
  flex-direction: row;
  width: 1200px;
}
.picture img{
  width: 300px;
  height: 450px;
}
.first-letter{
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  background-color: gray;
}
.info-right{
  margin-left: 20px;
}
.info-right h2{
  font-size: 40px;
  margin: 0px;
}
.person-container h3{
  color: #EF7622;
}
.credit-wrapper{
  display: inline-block;
}
.credit-view{
  margin-bottom: 60px;
}
.credit-view img{
  width: 176px;
  height: 264px;
  display: inline;
}
.credit-view p{
  position: absolute;
  text-align: center;
  font-size: 12px;
  width: 176px;
}
#known{
  padding-right: 10px;
}
.person-img{
  width: 60vw;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.person-img div{
  width: 450px;
  margin-bottom: 20px;
}
.person-img img{
  width: 450px;
}
.person-img figcaption{
  text-align: center;
  color: gray;
  opacity: .3;
}
@media (max-width: 1025px){
  .person-wrapper{
    width: 700px;
  }
  .picture img{
    width: 200px;
    height: 300px;
  }
  .credit-view img{
    width: 120px;
    height: 180px;
  }
  .credit-view p{
    width: 120px;
  }
}
@media (max-width: 769px){
  .person-wrapper{
    width: 700px;
  }
  .picture img{
    width: 200px;
    height: 300px;
  }
  .credit-view img{
    width: 120px;
    height: 180px;
  }
  .credit-view p{
    width: 120px;
  }
}
@media (max-width: 415px){
  .person-wrapper{
    flex-direction: column;
    width: 365px;
  }
  .picture img{
    width: 200px;
    height: 300px;
    margin-left: 23%;
  }
  .info-right{
    margin-left: 0px;
    text-align: center;
  }
  .credit-view img{
    width: 100px;
    height: 150px;
    display: inline;
  }
  .credit-view p{
    width: 100px;
    font-size: 7px;
  }
  #hide-people{
    display: none;
  }
  #people-bio{
    text-align: left;
  }
  .info-right h2{
    font-size: 30px;
    font-size: 12px;
  }
  .info-right h2{
    font-size: 30px;
  }
  .person-img{
    width: 97.5vw;
  }
  .person-img div{
    width: 97.5vw;
  }
  .person-img img{
    width: 97.5vw;
  }
}
@media (max-width: 413px){
    .person-wrapper{
    flex-direction: column;
    width: 365px;
  }
  .picture img{
    width: 200px;
    height: 300px;
    margin-left: 23%;
  }
  .info-right{
    margin-left: 0px;
    text-align: center;
  }
  .credit-view img{
    width: 100px;
    height: 150px;
    display: inline;
  }
  .credit-view p{
    width: 100px;
    font-size: 7px;
  }
  #hide-people{
    display: none;
  }
  #people-bio{
    text-align: left;
  }
  .info-right h2{
    font-size: 30px;
    font-size: 12px;
  }
  .info-right h2{
    font-size: 30px;
  }
  .person-img{
    width: 97.5vw;
  }
  .person-img div{
    width: 97.5vw;
  }
  .person-img img{
    width: 97.5vw;
  }
}
@media (max-width: 376px){
  .person-wrapper{
    flex-direction: column;
    width: 365px;
  }
  .picture img{
    width: 200px;
    height: 300px;
    margin-left: 23%;
    /*margin-left: 22%;
    margin-right: 50%;*/
  }
  .info-right{
    margin-left: 0px;
    text-align: center;
  }
  .credit-view img{
    width: 100px;
    height: 150px;
    display: inline;
  }
  .credit-view p{
    width: 100px;
    font-size: 7px;
  }
  #hide-people{
    display: none;
  }
  #people-bio{
    text-align: left;
    font-size: 12px;
  }
  .info-right h2{
    font-size: 30px;
  }
  .person-img{
    width: 97.5vw;
  }
  .person-img div{
    width: 97.5vw;
  }
  .person-img img{
    width: 97.5vw;
  }
}
  @media (max-width: 321px){
    .person-wrapper{
    flex-direction: column;
    width: 311px;
  }
  .picture img{
    width: 200px;
    height: 300px;
    margin-left: 20%;
    /*margin-left: 22%;
    margin-right: 50%;*/
  }
  .info-right{
    margin-left: 0px;
    text-align: center;
  }
  .credit-view img{
    width: 90px;
    height: 135px;
    display: inline;
  }
  .credit-view p{
    width: 100px;
    font-size: 7px;
  }
  #hide-people{
    display: none;
  }
  #people-bio{
    text-align: left;
    font-size: 12px;
  }
  .info-right h2{
    font-size: 30px;
  }
  .person-img{
    width: 97vw;
  }
  .person-img div{
    width: 97vw;
  }
  .person-img img{
    width: 97vw;
  }
}

