.search-content img{
  width: 280px;
  height: 420px;
}
.search-content p{
  position: absolute;
  width: 250px;
}
.search-container{
  position: relative;
}

.search-view{
  display: inline;
  position: relative;
}
.search-content{
  display: inline-block;
  text-align: center;
  margin-bottom: 45px;
  animation: fadein 2s;
}
#people-search img{
  border: 2px solid orange;
  border-radius: 150px;
  width: 150px;
  height: 225px;
    margin-right:20px;
}
#people-name{
  font-size: 12px;
  width: 150px;

}
