.theater-header h1{
    margin-top: 30px;
}
.showing-card{
    border: 1px solid #929292;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    width: 90vw;
}
.showing-card img{
    width: 200px;
}
.showing-card div{
    margin-right: 20px;
}
.title-info h3{
    text-transform: uppercase;
    font-weight: 900;
    width: 220px;
    margin-bottom: 10px;
}
.title-info #second-column{
    margin-bottom: 10px;
    font-weight: lighter;
    font-style: italic;
}
#title-genre{
    font-style: italic;
    text-transform: lowercase;   
}
.title-info p{
    color: #929292;
    font-family: 'Times New Roman', Times, serif;
}
.times div{
    display: inline-block;
    background-color: #EF7622;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.times div p{
    font-weight: bolder;
    font-size: 20px;
}
.times p{
    color: #929292;
}
.times #showing{
    color: white;
}
button{
    color:white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    margin-left: 5px;
    padding: 9px;
    position: relative;
    top: -3px;
}
.theater-header{
    padding-left: 35px;
}
#address{
    border: 1px solid #EF7622;
    padding: 10px;
    width: auto; 
    position: relative; 
    display: inline-block; 
    margin-bottom:10px;
    transition: background 1s;
}
#address:hover{
    background: red;
}