.user-list-wrapper{
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 30px;
}
.user-thumnail{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.user-thumnail img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
.user-list img{
    width: 200px;
    height: 300px;
}
.user-list{
    display: flex;
    justify-content: center;
}
.user-list p{
    font-size: 12px;
    width: 200px;
    text-align: center;
    position: absolute;
}